{% extends "hardware/layout.html" %}
{% block body %}

<ul class="listings-container">
    {% if message %}
        <div></div>
        <div class="error center">{{ message }}</div>
        <div></div>
    {% endif %}

    {% for listing in listings %}
        <li class="listing">
            <h4>{{ listing.title }}</h4>
            <img src="{{ listing.image_url }}" alt="" class="img-thumbnail">
            <a href="#top"><button class="listing-btn btn" data-id={{listing.id}}>Ver Más</button></a>
        </li>

        <div class="modal-container hidden" data-id={{listing.id}}>
            <div class="modal hidden opacity-0">
                <!--Close Modal Icon-->    
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="close-modal-button">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>    
                <h2 class="form-title">{{ listing.title }}</h2>
                <img src="{{ listing.image_url }}" alt="" class="img-thumbnail thumbnail">
                <p>{{ listing.description }}</p>
                <p class="listing-price"><strong>${{ listing.price }}</strong></p>
                <a href="{% url 'contact' %}"><button class="listing-btn btn">Consultar por el producto</button></a>
            </div>  
        </div>
    {% endfor %}
</ul>

{% endblock %}
